@font-face {
    font-family: 'smoothycursive';
    src: url(smoothy-cursive-webfont.woff2) format('woff2'),
         url(smoothy-cursive-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}